<div class="container">
    <h2>Om webbplatsen</h2>
            
    <section>
        <h3>Webbplats beskrivning</h3>
        <p>
            I denna webbplats, kan anvädnare se vilka jobberfarenheter som är tillagda i databasen och api:et, ändra eller radera de befintliga, och lägga till nytt inlägg samt spara det i databasen och api:et.              
        </p> 
        <p>
            För databas-server har jag använt MySQL, eftersom den är en populär databashanterare i världen, och används för att hantera stora mängder data. 
        </p> 
        <p>
            Webbplatsen består av tre sidor:
        </p>
        <ul>
            <li>
                Startsida som visar tabell som innehåller sparade inlägg i databasen, där användare kan ändra eller radera kurser.
            </li>
            <li>
                Lägg till nytt inlägg som innehåller formulär där användare kan mata in en ny jobberfarenhet, så den blir lagrad i databasen, vidarebefordras till startsidan och syns i tabellen.
            </li>
            <li>
                Om webbplatsen: (Denna sida) som innehåller beskrivning av webbplatsen, dess syfte samt information om vilken databas-server som har använts.
            </li>
        </ul>
    </section>
    <section>
        <h3>Slutsatser av uppgiften</h3>
        <p>
            Uppgiften har gett mig goda kunskaper om hur en REST API skapas med Node.js, Express samt databas-server som MySQL. Jag har lärt mig även om användning av CRUD-operationer(Create, Read, Update, Delete), och hur koppling är uppbyggd mellan webbplats och API för smidigare databehandling mellan frontend- samt backend- applikationer.
        </p>
    </section>
</div>
